//Font Family
$fontFamily: 'Poppins', sans-serif;


$wrapperWidth: 1060px;
//Site Color Styles
$primaryRed: #ED1C24;
$primaryBlue: #233253;
$secondaryBlue: #005E9E;
$headerSearchBG: #EAF1F8;
$headerLoginBG: #657D93;
$grayText: #8A93A5;
$grayDisclaimer: #767676;
$bulletPointsColor: #5A5A5A;
$tabGrayBG: #E8E8E8;
$grayBG: #F9F9F9;
$greenColor: #4BB152;